<div class="content-section"  (keydown)="onKeyDown($event)">
  <div class="headline">
    <h3>{{headLineText}}</h3>
    <div class="button-list" *ngIf="showButtons && showOnlyAdd">
      <button mat-mini-fab class="small-btn" (click)="add()">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <div class="button-list" *ngIf="showButtons && showOnlySave">
      <button mat-mini-fab (click)=submitForm() class="small-btn">
        <mat-icon>save</mat-icon>
      </button>
    </div>

    <div class="button-list" *ngIf="showButtons && showExchange">
      <button mat-button class="small-btn" *ngIf="!localExchange" (click)="toggleExchange()" [disabled]="!enablePrintButton">
        <mat-icon>account_tree</mat-icon>
      </button>
      <button  mat-button class="small-btn" *ngIf="localExchange" (click)="toggleExchange()" [disabled]="!enablePrintButton">
        <mat-icon>view_module</mat-icon>
      </button>
      <button mat-mini-fab class="small-btn" *ngIf="!localEditing && localExchange" (click)=toggleEdit() >
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-mini-fab *ngIf="localEditing && localExchange" (click)=toggleEdit() class="small-btn">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="button-list" *ngIf="showButtons && showOnlyEdit">
      <button mat-mini-fab class="small-btn" *ngIf="!localEditing" (click)=toggleEdit() >
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-mini-fab *ngIf="localEditing" (click)=toggleEdit() class="small-btn">
        <mat-icon>close</mat-icon>
      </button>
      <a mat-mini-fab class="small-btn" [routerLink]="['/help']" [queryParams]="{identifier: helpIdentifier}"
         target="_blank"
              *ngIf="localHelpButton">
        <mat-icon>help</mat-icon>
      </a>
    </div>

    <div class="button-list" *ngIf="showButtons && !showOnlyAdd && !showOnlySave && !showOnlyEdit && !showExchange">
      <button mat-mini-fab class="small-btn" *ngIf="showPrint && !localEditing" (click)="print()">
        <mat-icon>print</mat-icon>
      </button>
      <button mat-mini-fab class="small-btn" *ngIf="!localEditing" (click)=toggleEdit() >
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-mini-fab *ngIf="localEditing" (click)=submitForm() class="small-btn">
        <mat-icon>save</mat-icon>
      </button>
      <button mat-mini-fab *ngIf="localEditing" (click)=toggleEdit() class="small-btn">
        <mat-icon>close</mat-icon>
      </button>
      <a mat-mini-fab class="small-btn" [routerLink]="['/help']" [queryParams]="{identifier: helpIdentifier}"
         target="_blank"
              *ngIf="localHelpButton">
        <mat-icon>help</mat-icon>
      </a>
    </div>

    <div class="button-list" *ngIf="!showButtons && showPrint">
      <button mat-mini-fab class="small-btn" (click)="print()" [disabled]="!enablePrintButton">
        <mat-icon>print</mat-icon>
      </button>
    </div>
  </div>
  <ng-content></ng-content>
</div>
